body{
    background-image: url("https://img.freepik.com/fotos-gratis/papel-de-parede-de-textura-grunge-escuro-projetado_23-2147951287.jpg?size=1256&ext=jpg");
    background-size: 100vw 100vh;
    font-family: Moonspace;
  }
  
  .menu ul { 
    display: flex;
    justify-content: space-around;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color:#E6BE1E
  }
  
  .menu Li{
    list-style: none;
  }
  nav ul li a {
      color: #17AC4E;
  }
  .site-subtitle,
  .site-title{
    color: #33BA8B;
    text-align: center;
     font-size: 34px;
  }
  .site-subtitle{
    font-style: italic;
  }
  a{
     font-size: 32px;
  }
  ::selection {
      background: #D8C226;
      color: #C42196;
  }